@import "_mixins.scss";
@import "_variables.scss";

.title-container {
  @include flex(column, center);
  gap: 5%;
  height: 100vh;

  .title-and-image {
    @include flex(row, space-evenly);

    .main-title {
      width: 6em;
      font-size: clamp(3em, 8vw, 8em);
    }

    img {
      width: 40%;
    }
  }

  .start-button {
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    background: #8cd6b5;
    color: #634bce;
    border: 3px solid $darkGreen;
    border-radius: 0.5em;
    padding: 1em 2em;
    transition: background 0.3s, transform 0.3s;

    &:hover {
      background: $darkGreen;
      transform: scale(1.25);
    }
  }
}